@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Publishing Company</h1>
    <p>I do welcome the Authors please register to proceed <a href="https://localhost:44309/Employee/Create">Register Here</a>.</p>
</div>
